*{
    margin: 0;
    padding: 0;
}
.Rating{
    background-color:var(--dark-Blue);
    width:390px;
    height:380px;
    border-radius: 20px;

}
.bodyText{
    display: flex;
    flex-direction: column;
    padding-left:1.5rem;
    padding-right:1.5rem;
}
.iconImg{
    background-color: hsl(214, 14%, 22%) ;
    width:35px;
    height: 35px;
    border-radius: 50%;
    border: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.heading{
   color: hsl(0, 0%, 100%);
   font-weight: 700;
   font-size: 1.6rem;
   margin-top: 2rem;
   font-family: 'Overpass', sans-serif;
}
@media screen and (max-width:375px){
    .heading{
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 2rem;
        font-family: 'Overpass', sans-serif;
     } 
}

.content{
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    color:hsl(216, 12%, 54%);
    font-weight: 400px;
    line-height: 24px;
    font-family: 'Overpass', sans-serif;
   
}

@media screen and (max-width:375px){
    .content{
        font-size: 13px;
        margin-top: 1rem;
        margin-bottom: 1.2rem;
        color:hsl(216, 12%, 54%);
        font-weight: 400px;
        line-height: 24px;
        font-family: 'Overpass', sans-serif;
       
    }
}
.btn-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn-static{
    width:40px;
    height: 40px;
    border-radius: 50%;
    border: 1px;
    color:hsl(216, 12%, 54%);
    background-color:hsl(216, 14%, 22%) ;
}
.btn-active{
    background-color: var( --light-grey); 
    width:40px;
    height: 40px;
    border-radius: 50%;
    border: 1px;
}
button:hover{
    background-color: var(--orange);
    transition: all 0.15s ease-in-out;
    color: hsl(0, 0%, 100%);
}

.sub-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit{
    width: 85%;
  height: 100%;
  padding: 14px;
    border-radius: 0;
    background-color: hsl(25, 97%, 53%);
    transition: all 0.15s ease-in-out;
    margin-top: 1.3rem;
    color:white;
    border-radius: 3rem;
    border:none
    
}
.submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%)
}
.Illustration{
    display: flex;
    align-items: center;
    justify-content: center;
}
.illustrationImg{
    margin-top: 3rem;
}
.ThanksHeading{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 1.4rem;
    font-family: 'Overpass', sans-serif;
}
.thanksContent{
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    color:hsl(216, 12%, 54%);
    font-weight: 400px;
    line-height: 24px;
    padding-left: 2.9rem;
    padding-right: 2rem;
    font-family: 'Overpass', sans-serif;
}